{% block body %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card shadow-sm">
                <div class="card-body">

                    {{ form_start(form) }}

                    <div class="mb-3">
                        {{ form_row(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Name'} }) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(form.date, { 'attr': {'class': 'form-control', 'placeholder': 'Date and Time'} }) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(form.description, { 'attr': {'class': 'form-control', 'placeholder': 'Description'} }) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(form.photo, { 'attr': {'class': 'form-control', 'placeholder': 'Photo URL or Path'} }) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(form.capacity, { 'attr': {'class': 'form-control', 'placeholder': 'Capacity'} }) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(form.phone_number, { 'attr': {'class': 'form-control', 'placeholder': 'Phone Number'} }) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(form.address, { 'attr': {'class': 'form-control', 'placeholder': 'Address'} }) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(form.type, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="text-center">
                        <button class="btn btn-primary btn-lg w-100">{{ button_label|default('Save') }}</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

